<form method="post" action="/chamados/{{ chamado.id }}/categoria" class="categoria-pills" id="categoria-form">
  {% set ids_atuais = chamado.categorias | map(attribute='id') | list %}
  {% for categoria in categorias %}
  <label class="categoria-pill {% if categoria.id in ids_atuais %}categoria-pill-marcada{% endif %}">
    <input type="checkbox" name="categoria_ids" value="{{ categoria.id }}" {% if categoria.id in ids_atuais %}checked{% endif %} onchange="this.form.requestSubmit()">
    <span>{{ categoria.nome }}</span>
  </label>
  {% endfor %}
</form>